:root {
  --card-width: 13vw;
  --card-aspect-ratio: 5 / 7;
}

body {
  margin: 0;
  background: green;
  color: #fff;

}

/* LAYOUT: used to place the game buttons and statistics */
.top-section {
  border: 1px solid orange;
  margin: 0 0 1rem;
}

/* The entire game board */
.board {
  border: 1px solid orange;
  background: rgb(0 0 255 / 0.5);
  max-width: 1280px;
  margin: auto;
}

/* The sections of the game board */
.top-board, .tableau {
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
}

@media screen and (width  <= 600px) {
  .top-board, .tableau {
    gap: 0.2rem;
  }
}

/* remove later */
.tableau {background: rgb(255 255 255 / 0.5);}

.top-board {
  margin-bottom: 10px;
  background: rgb(255 255 0 / 0.5);
}

/* Individual container for each card */
:is(.top-board, .tableau) > div {
  width: var(--card-width);
  aspect-ratio: var(--card-aspect-ratio);
  border: 1px solid pink;
  background: rgb(255 0 255 / 0.5);
}

.empty {visibility: hidden;}
